.comment-section {
  max-width: 88%;
  display: flex;
  width: 90%;
  border-radius: 0.2rem;
  flex-direction: column;
  padding: 5px 10px;
  background-color: #e5e5e5;
  margin: 5px 0px;
}
.comment-section .name {
  font-size: 14px;
  color: black;
  font-weight: bold;
  text-transform: capitalize;
}
.comment-section .details {
  font-size: 10px;
  color: grey;
  margin: 0px;
  margin-bottom: 5px;
}
.comment-container img {
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  margin: 0px 5px;
  height: 44px;
  width: 44px;
  margin: 5px 5px;
}
.comment-container {
  width: 100%;
  display: flex;
}
