.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #1dd8ff;
  height: 61px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  z-index: 100;
}
.header div {
  width: 33%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.header .left-section img {
  width: 46px;
  height: 46px;
  border-radius: 7px;
  margin-right: 7px;
}
.header .left-section input.search-bar {
  background: #ffffff;
  border-radius: 100px;
  width: 215px;
  height: 27px !important;
  outline: none;
  border: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  text-align: left;
  padding-left: 40px;
}

.header .middle-section svg {
  margin: 0 10px;
  transition: all 0.4s ease;
}
.header .middle-section svg:hover {
  color: #ffffff;
}
.header .right-section .img-section,
.header .right-section img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}
.header .right-section {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
}
.header .right-section .text-section {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  color: #ffffff;
  margin: 0 10px;
}
.header .right-section .text-section span {
  font-weight: normal;
}
