.post {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 14px;
  width: 40vw;
  height: auto;
  margin-top: 30px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}
.post-top-section {
  padding: 5px 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.post-top-section img {
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  margin: 0px 5px;
  height: 44px;
  width: 44px;
  margin: 5px 5px;
}
.post-top-section span {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.post-top-section .date {
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 9px;
  line-height: 11px;

  color: #c4c4c4;
}
.details {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.dots {
  position: absolute;
  top: 10px;
  right: 5%;
  color: #1dd8ff;
}
.post-middle-section {
  width: 100%;
}
.post-middle-section p {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  margin: 5px 10px;
  color: #000000;
}
.post-middle-section p.large-text {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 1.2em 0.8rem;
}
.post-middle-section .media-container {
  width: 100%;
  margin-top: 10px;
  box-sizing: border-box;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  background: #ededed;
}
.post-middle-section .media-container img {
  max-width: 100%;
  max-height: 300px;
}

.post-middle-section .audience-interaction {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}
.post-middle-section .audience-interaction div {
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 5px 0px;
  transition: all 0.4s ease;
}

.post-middle-section .audience-interaction div span {
  font-size: medium;
  margin-left: 10px;
  cursor: pointer;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
.post-middle-section .audience-interaction div:hover {
  background-color: #e5e5e5;
  border-radius: 20px;
}
.post-middle-section .audience-interaction div.active,
.post-middle-section .audience-interaction div.active :hover {
  background-color: #9aeeff;
  border-radius: 20px;
}

.post-middle-section .audience-interaction div div.count {
  position: absolute;
  content: '123123';
  background-color: red;
  right: -5px;
  top: -8px;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 0.6rem;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding: 0.2rem 0.4rem;
  text-align: left;
}
.post-bottom-section {
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
