/* new-comment */
.new-comment {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 14px;
  width: 100%;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: 40vw;
  height: auto;
  box-sizing: border-box;
  border-radius: 14px;
}
.new-comment-top {
  width: 100%;
  display: flex;
  align-content: center;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 2%;
  padding: 10px;
  margin-bottom: 0.4rem;
}
.new-comment-top form {
  width: 100%;
}
.new-comment-top form textarea {
  display: inline-block;
  width: 95%;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 13px;
  height: 38px;
  overflow-y: auto;
  resize: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  padding: 10px 10px;
  color: #000000;
  outline: none;
}

.new-comment-top img {
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  margin: 0px 5px;
  height: 44px;
  width: 44px;
}
.new-comment-bottom {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.new-comment-bottom span {
  font-size: medium;
  margin-left: 10px;
  cursor: pointer;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
.new-comment-bottom div {
  padding: 5px 15px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 5px 0px;
  transition: all 0.4s ease;
}
.new-comment-bottom div:hover {
  background-color: #e5e5e5;
  border-radius: 20px;
}
.button-row {
  width: 100%;
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
  justify-content: flex-end;
}

.button-row button {
  background-color: #1dd8ff;
  outline: none;
  border: none;
  border-radius: 1rem;
  margin: 0.2rem 1.2rem;
  padding: 0.2rem 0.6rem;
  color: #fff;
}
